# --- Core AI & PyTorch ---
torch
torchvision
timm
fvcore
gradio

# --- Image Processing ---
opencv-python-headless
albumentations==1.3.0

# --- Scientific & Array ---
numpy<2
scikit-learn
matplotlib

# --- Extractor & Logging Shims ---
rich
colorama
appdirs
ttach
grad-cam
tensorboard
wandb
